# Created by .ignore support plugin (hsz.mobi)
### Java template
*.class
*.log
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
### Gradle template
.gradle
**/build/
**/bin/
**/out/
gradle-app.setting
!gradle-wrapper.jar
.gradletasknamecache
.idea
gradlew.bat
**/.classpath
**/.project
**/.settings
**/target